.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
}

.main_section {
  margin-bottom: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title-container {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  margin-bottom: 35px;
}

.main__close-conteiner {
  display: flex;
  flex-direction: row;
}

.main__close-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
  width: 568px;
}
.main__close-text {
  margin: 0 0 0 18px;
  font-style: normal;
  font-weight: 250;
  font-size: 18px;
  color: var(--red);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.7s linear;
}

.main__close-conteiner:hover .main__close-text {
  opacity: 1;
  transition: opacity 0.7s linear;
}

.main__title {
  color: var(--black);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  margin: 0;
  align-self: center;
  transition: color 0.7s linear;
}

.main__title_theme_dark {
  color: var(--white);
}

.main__planer {
  opacity: 0;
  width: 14px;
  height: 13px;
  background: no-repeat url("../../images/main__planer.svg");
  margin-right: 18px;
  transition: 0.8s;
  align-self: center;
}

.main__close-button {
  width: 14px;
  height: 13px;
  background: no-repeat url("../../images/main_close-button.svg");
  border: 0;
  margin-left: 277px;
  transition: 0.8s;
}

.main__title:hover {
  cursor: default;
}

.main__close-button:hover {
  cursor: pointer;
  transform: scale(2);
}

.main__planer:hover {
  transform: scale(2);
  transition: 0.8s;
}
