.footer {
  width: 100%;
  height: 70px;
  background-color: var(--violet);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: var(--black);
}

.footer__copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  margin: 0 0 0 35px;
}

.footer__up {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.2em;
  color: var(--orange);
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  transition: color 0.7s linear;
}

.footer__gh-icon {
  position: absolute;
  width: 142px;
  height: 142px;
  object-fit: contain;
  margin: 0 35px 0 0;
  bottom: 10px;
  right: 35px;
}