.life {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.life__screen {
  width: 1280px;
  height: 222px;
  background-color: var(--white);
  margin: 0 0 52px 0;
/*    opacity: .1; */
  transition: background-color 0.7s linear;
}

.life__screen:hover {
   opacity: 1;
  transition: background-color 0.7s linear;
}

.life__screen_theme_dark {
  background-color: var(--black);
}
